.About{
padding: 2rem;
    font-family: 'paquito';
    background-color:#1f1f1f;
    background-size: cover;
  align-items: center;

  display: flex;
}

@keyframes slide-up{
    0% {transform: translateY(10%);}
    100% {transform: translateY(0%);}
  }

.about-text{
  
    color: #1f1f1f;
     opacity: 0;
   
    height:40%;
    max-width: 100svw;
    padding: 4rem;
    align-items: center;
    gap: 20px;
    animation: slide-up 2s linear;
    animation-play-state: paused;
    opacity: 0;
    transition: opacity 1s ease-in ;
    
    

  
}


.about-header{
    font-family: 'paquito';
    font-size:6rem;
    color: #1f1f1f;
}
.about-info{
    font-family: 'rowan';
    
    border: 1px solid #1f1f1f;
    padding: 1rem;

    background-color:#f1f1f1;
    color: #252525;
    border-radius: 20px;
  
}
.about-img-cnt{
    height: 100%;
    width: 100%;
   justify-content: right;
   align-self: center;

   flex: 1;

   
}

.munch-images{
    display: flex;
    gap: 10px;
    padding: 1rem;
    background-color: #f1f1f1;
    border-radius: 14px;
}

.about-img{
    max-height: 100%;
    max-width: 100%; 
    border-radius: 12px;
      object-fit: cover;
      border: 1px solid #252525;
    
   
}

