.About{
    min-height: 100svh;
    font-family: 'paquito';
    background-color:#1f1f1f;
    background-size: cover;
  align-items: center;

  display: flex;
}.about-text{
  
    color: #1f1f1f;
    
   
    height:40%;
    width: 100svw;
    padding: 4rem;
    align-items: center;
    gap: 20px;
   

  
}

.about-header{
    font-family: 'paquito';
    font-size:6rem;
    color: #1f1f1f;
}
.about-info{
    font-family: 'rowan';
    
    border: 1px solid #1f1f1f;
    padding: 1rem;

    background-color:#f1f1f1;
    color: #252525;
    border-radius: 20px;
  
}
.about-img-cnt{
    height: 100%;
    width: 100%;
   justify-content: right;
   align-self: center;

   flex: 1;

   
}

.munch-images{
    display: flex;
    gap: 10px;
    padding: 1rem;
}

.about-img{
    max-height: 100%;
    max-width: 100%; 
    border-radius: 22px;
      object-fit: cover;
    
   
}

