
.footer{
    min-height: 16rem;
    background-color: #f1f1f1;
    position: relative;
    font-family: 'paquito', sans-serif;
    z-index: 3;
    display: grid;
    color: #584D3D;
    overflow-x: hidden;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: center;
    border: 2px solid #584D3D;
    align-self: center;
    
   
    
  }
  
  .foot-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
  }
  
  .foot-contact h3{
    margin: 0px;
  }
  .logo{
    font-weight: 900;
    margin: 0px;
    font-size: 4rem;
    color: #584D3D;
  }
  
  .ocu-optometrist{
    margin: 0px;
  }
  
  .opening-times h4{
    margin: 0px;
    color: #f1f1f1b0;
    
  }
  .opening-times{
    display: flex;
    gap: 12px;
    color: #f1f1f1;
    background-color: #584D3D;
  
    padding: 12px;
    border-radius: 12px;
  }
  
.service-options{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
    gap: 2rem;
   
    
    max-width: 100%;

    color: #f1f1f1;
    background-color: #1f1f1f;
    padding: 3rem;
    padding-right: 0px;
}

.service-options h2{
    color: #f1f1f1;
    font-family: 'paquito';
    margin: 0px;
    text-align: left;
}

.service-options ul{
    font-family: 'rowan';
    text-align: left;
    margin: 0px;
    margin-top: 6px;
    padding: 0px;
}

.service-options li{
    color: #f1f1f1a4;
}


  .legal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
    padding: 1rem;
    max-width: 100svw;
    font-size: 13px;
    font-family: 'Satoshi';
    background-color:#1f1f1f;
    color: #f1f1f1;
   padding-left: 3rem;
   padding-right: 0px;
    position: relative;
  
  }
  
  .copy-right, .author{
    margin: 0;
    width: 100%;
    text-align: left;

  }

  .austin-portfolio{
    text-decoration: underline #f1f1f1;
  }

  @media screen and (max-width: 726px) {
    .footer{
      display: flex;
      flex-direction: column;
      max-width: 100svw;
      box-sizing: border-box;
      padding: 20px;
      gap: 20px;
    }
    .service-options{
      max-width: 100svw;
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem;
      gap: 1rem;
    }
    .About{
      max-width: 100svw;
      min-height: unset;

    }
    .about-header{
      font-size: 4rem;
    }
    .logo{
      max-width: 100svw;
      text-wrap: wrap;
      box-sizing: border-box;
      font-size: 2rem;
     
    }
    .logo-text{
      margin-left: 0px;
     
    }
    .legal{
      padding: 1rem;
    }
  }