.food-category{
    font-family: 'paquito', serif;
    background-color: #252525;
    color:white ;
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
 
}

.cat-title{
    font-size: 9rem;
    margin: 0px;
    padding: 0px;


}

.item-description, .item-price{
    font-family: 'rowan', serif;
}

.cat-menu{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.cat-img-cnt{
    height: 100%;
    width: 50%;
   justify-content: right;
   align-self: center;
   margin-left: 8rem;
   
}

.cat-image{
    max-height: 100%;
    max-width: 100%; 
    border-radius: 22px;

   
}

.menu-items{
    border-radius: 22px;
    max-width: 100%; 
 background-color:#f1f1f1;
 color: #252525;

 max-width: 34rem;
 position: absolute;
 box-shadow: 1px 1px 20px #c1c1c1;
 left :50%
}

#pastas-category, #seafood-category, #milkshakes-category{
    background-color: #f1f1f1;
    color: #252525;
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
    
}

#milkshakes-category .cat-title{
    text-shadow: 2px 2px #6D3D14;
}

#milkshakes-category .cat-image{
    box-shadow: -2px 2px #331d09;
}

#pastas-category .cat-title{
    text-shadow: 2px 2px #DB2955;  
}

#seafood-category .cat-title{
    text-shadow: 2px 2px #BCD3F2;
}

#seafood-category .cat-image{
    box-shadow: -2px 2px #BCD3F2;
}

#burgers-category .cat-title{
    text-shadow: 2px 2px white;
}

#burgers-category .cat-image{
    box-shadow: -2px 2px white;
}

#pizza-category .cat-title{
    text-shadow: 2px 2px #BCD3F2;
} 



.menu{
   position: absolute;
    top: 97%; 
    z-index: 2;
    background-color: #252525;
}






#seafood-category .menu-items, #pastas-category .menu-items,  #milkshakes-category .menu-items{
    background-color: #252525;
    box-shadow: 1px 1px 20px #1c1c1c;
   
}

#seafood-category .menu-item, #pastas-category .menu-item,  #milkshakes-category .menu-item{
    color: #f1f1f1;
} 

.menu-item{
    color: #252525;
}