.navbar {
    display: flex;
    position: absolute;
    top:0;
    width: 100svw;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color:white;
    font-family: 'Paquito', serif;
    
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
   
    padding-bottom: 0px;
  }


  
  .navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 1rem;
  }
  
  .nav-link {
    text-decoration: none;
 
    padding: 6px;
    border-radius: 6px;
    transition: color 0.3s ease;
  }
  

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
  }
  
  .nav-item a {
    color: #1f1f1f;
  }
  

  
  .navbar-nav.active {
    display: flex;
    margin-top: 0px;
    background-color: white;
   
    
    margin: 0px;
    height: 0px;
    transition: all 4s;
  }

  @keyframes slide-left{
    from{
      transform: translateX(100%);
    }
    to{
      transform: translateX(0%);
    }
  }
  
  @media (max-width: 768px) {
    .navbar-brand {
      flex: 1;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .navbar-nav {
      display: none;
      flex-direction: column;
      position: absolute;
      height: 0px;
      top: 100%;
      left: 0;
      width: 100%;
      transition: all 6s;
      padding: 10px 20px;
            
    }
  
  
    .navbar-nav.active {
      display: flex;
      max-width: 100svw;
      gap: 10px;
      height: auto;
      font-size: 1.5rem;
      transition: all 6s;
      

      
      
    }
    .navbar-nav.active.navbar{
      border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    }
  }
  